// main{
//   overflow: hidden;
// }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  // overflow: hidden;
}

.wrapper {
}

.hidden {
  // display: none;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -10;
  opacity: 0;
}

.vertical-separator {
  display: none;
  width: 3px;
  height: 20px;
  border-radius: $radius-sm;
  //   border-radius: 50%;
  background: $accent-color;

  @include viewport-md {
    display: block;
  }
}

.accent-letter {
  font-weight: 900;
  font-size: 25px;
  color: $main-color;
  @include viewport-md {
    font-size: 30px;
  }
}

.container {
  padding: 0 20px;
  overflow: hidden;
  // від 0 до бескінечності

  @include viewport-md {
    // від 768 >
    max-width: 708px;
    margin: 0 auto;
  }

  @include viewport-lg {
    // від 1024 >
    max-width: 964px;
  }

  @include viewport-xl {
    // від 1440 >
    max-width: 1380px;
  }

  @include viewport-xll {
    max-width: 1460px;
  }
}
